.resultArea {
  height: 70vh;
  background-color: rgb(222, 247, 224);
  display: flex;
}

.resultArea > div {
  flex: 100;
  align-self: center;
}

.userArea > span,
.appArea > span {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10vh;
}
.userArea > span:nth-child(2),
.appArea > span:nth-child(2) {
  margin-top: 2em;
  font-size: 4vh;
  font-weight: bold;
}
